install:
  - bash -c scripts/appveyor-install-ultibo-1.3.015.sh
  - bash -c scripts/appveyor-install-imagemagick.tool.sh
build_script:
  - bash -c ./build.sh
  - bash -c ./scripts/test-with-qemu.sh
artifacts:
  - path: kernel.img
    name: rpi0 kernel
  - path: kernel7.img
    name: rpi2/3 kernel
  - path: kernel.bin
    name: qemu kernel for testing
  - path: test-with-qemu.png
    name: screen shot from test
  - path: test-with-qemu.txt
    name: log from test
cache:
  - c:/Ultibo -> scripts/appveyor-install-ultibo-1.3.015.sh
  - c:/ProgramData/chocolatey/lib/imagemagick.tool -> scripts/appveyor-install-imagemagick.tool.sh
skip_commits:
  files:
    - README.md
    - ultibounits.md
